body{
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}
#main{
    display: flex;
}
#contactos{
    width: 15vw;
    height: 100vh;
    background-color: black;
}
#chat{
    width: 85vw;
    height: 100vh;
   
}
.cabecera{
    display: flex;
}
#chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
#hand{
    width: 300px;
    height: 300px;
}
#chat h1{
    font-size: 45px;
    font-weight: 400;
    margin: 40px 0 0 0;
    
}
#chat p{
    width: 450px;
    
}